{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="main-container">
    {% include 'sidebar.html'%}
    <main class="content">
        <div class="delete-card">
            <form action="" method="POST">
                {% csrf_token %}
                <p>{% trans 'Athlete Name'%}: {{record.team_member.profileID.name|capfirst}}</p>
                <p>{% trans 'Measurement Name'%}: {{record.physical_assessment.physical_assessment_title}}</p>
                <p>{% trans 'Date'%}: {{record.physical_assessment_record.physical_assessment_date|date:"M d, Y"}}</p>
                <p>{% trans 'Are you sure you want to remove this athlete from measurement'%}?</p>
                <div class="button-group">
                    <a class="cal-btn go-back-btn" href="{% url 'edit-physical-assessment-measurement' pk=teamObj.id papk=record.physical_assessment.id recordid=record.physical_assessment_record.id%}">{% trans 'Go Back'%}</a>
                    <input class="confirm-btn" type="submit" value="{% trans 'Confirm' %}" />
                </div>
            </form>
        </div>
    </main>
</div>
{% endblock content %}