{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="main-container">
    {% include 'sidebar.html'%}
    <main class="content">
        <div class="delete-card">
            <form action="" method="POST">
                {% csrf_token %}
                <p>{% trans 'Are you sure you want to delete link: '%}{{object.title}}?</p>
                <div class="button-group">
                    <a class="cal-btn go-back-btn" href="{% url 'team-notification-links' pk=teamObj.id%}">{% trans 'Go Back'%}</a>
                    <input class="confirm-btn" type="submit" value="{% trans 'Confirm' %}" />
                </div>
            </form>
        </div>
    </main>
</div>


{% endblock content %}