{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="main-container">
    {% include 'sidebar.html'%}
    <main class="content">
        <div class="delete-card">
            <form action="" method="POST">
                {% csrf_token %}
                <p>{% trans 'Tactic name'%}: {{object.title}}</p>
                <p>{% trans 'Are you sure you want to delete this tactic'%}?</p>
                <div class="button-group">
                    <!-- Using teamObj.id instead of object.team.id to prevent additional queries -->
                    <a class="cal-btn go-back-btn" href="{% url 'view-tactic' pk=teamObj.id tid=object.id%}">{% trans 'Go Back'%}</a>
                    <input class="confirm-btn" type="submit" value="{% trans 'Confirm' %}" />
                </div>
            </form>
        </div>
    </main>
</div>


{% endblock content %}