{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags%}
{% block content %}
  
<div class="main-container">
  {% include 'organizations/orgsidebar.html'%}
    <main class="content">
      
        <div class="heading-card">
            <h1>{% trans 'Organization Teams'%}</h1>
        </div>
       

        <form method="get" action="{% url 'browse-org-teams' org.id %}" class="orgTeamFormSearch">
            <input type="text" name="search_query" placeholder="{% trans 'Search by team name...'%}">
        
            <button class="orgTeamFormSearch-btn" type="submit">{% trans 'Search'%}</button>
        </form>

        <div class="orgTeamList">
            {% for team in teams_in_org %}
            <a href="{% url 'browse-single-team' pk=org.id tid=team.id %}" class="">
                <div class="orgTeamList-card">
                    <div class="orgTeamList-card-image">
                        <img src="{{ team.imageURL }}" class="orgTeam-member-card-image">
                    </div>
                    <div class="orgTeamList-card-details">
                        <p class="orgTeamList-name">{{ team.teamName|capfirst|slice:'25' }}</p>
                        <div class="orgTeamList-ml5">
                            <p class="orgTeamList-owner">{% trans 'Team owner:' %} {{ team.owner.profile.name|capfirst|slice:'25' }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% empty %}
                <h3>No teams found.</h3>
            {% endfor %}
        </div>
        {% include 'pagination.html' with queryset=teams_in_org custom_range=custom_range %}

       
      
    </main>

</div>


{% endblock content %}