{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags%}
{% block content %}
  
<div class="main-container">
  {% include 'organizations/orgsidebar.html'%}
    <main class="content">
      
      <div class="heading-card">
        <h1>{{athlete.name}}</h1>
      </div>
    
      <div class="athlete-events">
        <h3>{% trans 'Calendar'%}</h3>
        {% for record in member_calendar %}
          <div class="athlete-event-card">
            {{record.event.teamID.teamName}}
            {{record.event.title}}
            {{record.event.type}}
            {{record.event.start_time|date}}
          </div>
        {% endfor %}
      </div>
    </main>
</div>


{% endblock content %}