{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

<div class="main-container">
    {% include 'organizations/orgsidebar.html'%}
        <main class="content">
            <div class="heading-card">
                <h1>{% trans 'Edit Organization members'%}</h1>
                <a href="#" id="openModal">Information about organization roles</a>

                <!-- The modal -->
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <!-- Modal content, you can add information about organization roles here -->
                        <p>Information about organization roles</p>
                        <p>info soon...</p>
                        {% comment %} <div class="modal-heading-row">
                            <div class="modal-role-info">
                                <p class="me-20">{% trans 'Information'%}</p>
                                <p class="me-20">{% trans 'Create team'%}</p>
                                <p class="me-20">{% trans 'Create Physical assesment'%}</p>
                            </div>
                            <div class="modal-role-info">
                                <p class="me-20">{% trans 'Coach'%}</p>
                                <div class="me-20">
                                    <svg id='Checkmark_16' width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='16' height='16' stroke='none' fill='#000000' opacity='0'/>


                                        <g transform="matrix(0.6 0 0 0.6 8 8)" >
                                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-13.05, -12.97)" d="M 22.566406 4.730469 L 20.773438 3.511719 C 20.277344 3.175781 19.597656 3.304688 19.265625 3.796875 L 10.476563 16.757813 L 6.4375 12.71875 C 6.015625 12.296875 5.328125 12.296875 4.90625 12.71875 L 3.371094 14.253906 C 2.949219 14.675781 2.949219 15.363281 3.371094 15.789063 L 9.582031 22 C 9.929688 22.347656 10.476563 22.613281 10.96875 22.613281 C 11.460938 22.613281 11.957031 22.304688 12.277344 21.839844 L 22.855469 6.234375 C 23.191406 5.742188 23.0625 5.066406 22.566406 4.730469 Z" stroke-linecap="round" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="me-20">
                                    <svg id='Interface_Remove_1_16' width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='16' height='16' stroke='none' fill='#000000' opacity='0'/>


                                        <g transform="matrix(Infinity NaN NaN Infinity 0 0)" >
                                        <line style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" x1="-6.5" y1="0" x2="6.5" y2="0" />
                                        </g>
                                        </svg>
                                </div>              
                            </div>
                            <div class="modal-role-info">
                                <p class="me-20">{% trans 'Coach/Manager'%}</p>
                                <div class="me-20">
                                    <svg id='Checkmark_16' width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='16' height='16' stroke='none' fill='#000000' opacity='0'/>


                                        <g transform="matrix(0.6 0 0 0.6 8 8)" >
                                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-13.05, -12.97)" d="M 22.566406 4.730469 L 20.773438 3.511719 C 20.277344 3.175781 19.597656 3.304688 19.265625 3.796875 L 10.476563 16.757813 L 6.4375 12.71875 C 6.015625 12.296875 5.328125 12.296875 4.90625 12.71875 L 3.371094 14.253906 C 2.949219 14.675781 2.949219 15.363281 3.371094 15.789063 L 9.582031 22 C 9.929688 22.347656 10.476563 22.613281 10.96875 22.613281 C 11.460938 22.613281 11.957031 22.304688 12.277344 21.839844 L 22.855469 6.234375 C 23.191406 5.742188 23.0625 5.066406 22.566406 4.730469 Z" stroke-linecap="round" />
                                        </g>
                                        </svg>
                                </div>
                                <div class="me-20">
                                    <svg id='Checkmark_16' width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='16' height='16' stroke='none' fill='#000000' opacity='0'/>


                                        <g transform="matrix(0.6 0 0 0.6 8 8)" >
                                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-13.05, -12.97)" d="M 22.566406 4.730469 L 20.773438 3.511719 C 20.277344 3.175781 19.597656 3.304688 19.265625 3.796875 L 10.476563 16.757813 L 6.4375 12.71875 C 6.015625 12.296875 5.328125 12.296875 4.90625 12.71875 L 3.371094 14.253906 C 2.949219 14.675781 2.949219 15.363281 3.371094 15.789063 L 9.582031 22 C 9.929688 22.347656 10.476563 22.613281 10.96875 22.613281 C 11.460938 22.613281 11.957031 22.304688 12.277344 21.839844 L 22.855469 6.234375 C 23.191406 5.742188 23.0625 5.066406 22.566406 4.730469 Z" stroke-linecap="round" />
                                        </g>
                                        </svg>
                                </div>          
                            </div>
                            <div class="modal-role-info">
                                <p class="me-20">{% trans 'Manager'%}</p>                            
                                <div class="me-20">
                                    <svg  id='Checkmark_16' width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='16' height='16' stroke='none' fill='#000000' opacity='0'/>


                                        <g transform="matrix(0.6 0 0 0.6 8 8)" >
                                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-13.05, -12.97)" d="M 22.566406 4.730469 L 20.773438 3.511719 C 20.277344 3.175781 19.597656 3.304688 19.265625 3.796875 L 10.476563 16.757813 L 6.4375 12.71875 C 6.015625 12.296875 5.328125 12.296875 4.90625 12.71875 L 3.371094 14.253906 C 2.949219 14.675781 2.949219 15.363281 3.371094 15.789063 L 9.582031 22 C 9.929688 22.347656 10.476563 22.613281 10.96875 22.613281 C 11.460938 22.613281 11.957031 22.304688 12.277344 21.839844 L 22.855469 6.234375 C 23.191406 5.742188 23.0625 5.066406 22.566406 4.730469 Z" stroke-linecap="round" />
                                        </g>
                                        </svg>
                                </div>
                            </div>
                            <div class="modal-role-info">
                                <p class="me-20">{% trans 'Staff'%}</p>
                                <div class="me-20">
                                    <svg  id='Checkmark_16' width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='16' height='16' stroke='none' fill='#000000' opacity='0'/>


                                        <g transform="matrix(0.6 0 0 0.6 8 8)" >
                                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-13.05, -12.97)" d="M 22.566406 4.730469 L 20.773438 3.511719 C 20.277344 3.175781 19.597656 3.304688 19.265625 3.796875 L 10.476563 16.757813 L 6.4375 12.71875 C 6.015625 12.296875 5.328125 12.296875 4.90625 12.71875 L 3.371094 14.253906 C 2.949219 14.675781 2.949219 15.363281 3.371094 15.789063 L 9.582031 22 C 9.929688 22.347656 10.476563 22.613281 10.96875 22.613281 C 11.460938 22.613281 11.957031 22.304688 12.277344 21.839844 L 22.855469 6.234375 C 23.191406 5.742188 23.0625 5.066406 22.566406 4.730469 Z" stroke-linecap="round" />
                                        </g>
                                        </svg>
                                </div>
                                <div class="me-20">
                                    <svg id='Interface_Remove_1_16' width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='16' height='16' stroke='none' fill='#000000' opacity='0'/>


                                        <g transform="matrix(Infinity NaN NaN Infinity 0 0)" >
                                        <line style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" x1="-6.5" y1="0" x2="6.5" y2="0" />
                                        </g>
                                        </svg>
                                </div>
                            </div>  
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="memberlist">
                <form method="post" class="form-card-org">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    <div class="memberlist-card">
                        <div class="memberlist-content">
                            <img src="{{ form.instance.profile.imageURL }}" class="member-card-image">
                            <input type="hidden" name="{{ form.prefix }}-id" value="{{ form.instance.id }}" />
                            <p class="memberlist-name">{{ form.instance.profile.name|slice:'20'|capfirst }}</p>
                      
                            <div class="number-container memberlist-form-role">
                                {% if form.instance.org_role == '4' %}
                                
                                <span class="number-label"></span> {% trans 'Owner'%}
                                {% else %}
                                <span class="number-label"></span> {{ form.org_role|add_class:"role-input" }}
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                    {{ form.errors }}
                
                    {% endfor %}
                    {{ formset.non_form_errors }}
                    <div class="form-button-group-content">
                        <div class="form-button-group">
                            <button type="submit" class="form-submit">{% trans 'Save'%}</button>
                            <a class="form-cancel" href="{%url 'org-members' pk=org.id%}">{% trans 'Go Back'%} </a>
                        </div>
                    </div>
                </form>
            </div>
            
        </main>
</div>
{% endblock content %}

