{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

<div class="main-container">
    {% include 'organizations/orgsidebar.html'%}
        <main class="content">
            <div class="team-group">
                <h1 class="team-name">{% trans 'Organization Settings'%}</h1>
            </div>
            <div class="cal-btn-line">
                <a class="cal-btn me-20" href="{%url 'all-org-pa' pk=org.id%}">{% trans 'Physical Assessments' %}  </a>
                <a class="cal-btn" href="{%url 'all-org-pa' pk=org.id %}">{% trans 'Other button'%}  </a>
            </div>
        </main>
</div>
{% endblock content %}

