@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none!important;
    padding: 0px;
    margin: 0px;
    color: black; /* Set the default text color to black */
}



:root{
    font-family: lato;
    --dark-gray: #353535;
    --ligh-gray: #6E7076;
    --gray: #D9D9D9;
    --super-gray: #e5e2e2;
    --light: #F6F6F6;
    --yellow: #FBCD44;

    --body-text: 16px;
    --functional-text: 13px;
    --heading-desktop: 40px;
    --heading-mobile: 32px;

    --sidebar:250px;
}

body{
  min-height: 100vh;
}

.canvas-border {
  background-color: #ffffff;
  border: 3px solid var(--gray);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* scroll to top */
#btnTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 100%;
  border: none;
  background: transparent;
  color: var(--ligh-gray);
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s, opacity 0.2s linear;
}

.me-30 {
  margin-right: 30px!important;
}
.me-20 {
  margin-right: 20px!important
}

.me-10 {
  margin-right: 10px!important
}
.me-5 {
  margin-right: 5px!important
}
.mb-10 {
  margin-bottom: 10px!important
}
/* Grid container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Grid columns */
.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Responsive grid columns */
.col-1 { width: 8.33333%; }
.col-2 { width: 16.66667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333%; }
.col-5 { width: 41.66667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33333%; }
.col-8 { width: 66.66667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333%; }
.col-11 { width: 91.66667%; }
.col-12 { width: 100%; }

/* Navigation */

.navigation{
  display: flex;
  background-color: var(--dark-gray);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 3;
}

.logo{
  margin: 0 16px;
  display: flex;
}

.navbar{
  height: 50px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  font-size: var(--body-text);
}


.navbar a{
  color: var(--light);
}

.navbar a:hover{
  color: var(--yellow);
}

.navbar>li{
  padding: 0 16px;
}

/* Back to top */
#btnTop:active {
  color: var(--yellow);
  opacity: 50%;
}



.s30{
  width: 30%;
}

.s50{
  width: 50%;
}

.s70{
  width: 70%;
}
.s100{
  width: 100%;
}

.events{
  margin: auto 0;
}

.head-group{
  display: flex;
  gap: 1.2rem;
  margin-bottom: 20px;
}

.main-container{
    display: flex;
    min-height: calc(100vh - 50px);
}

.sidebar{
    min-width: var(--sidebar);
    display: flex;
    height: 100vh;
    background-color: var(--light);
    position: fixed;
    user-select: none;
    z-index: 2;
}

.sidebar-links{
    font-size: var(--body-text);
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sidebar-links>li{
    padding: 12px;
}

.sidebar-links a{
    color: var(--dark-gray);
    display: flex;
    align-items: center;
}

.sidebar-links a svg{
  margin-right: 15px;
}


.sidebar-links a:hover{
    color: var(--ligh-gray);
}

.content{
    margin-left: var(--sidebar);
    margin-top: 80px;
    line-height: 1.5em;
    padding: 40px;
    width: 90%;
    
}

.analytics-card-content{
  margin-left: var(--sidebar);
  margin-top: 80px;
  line-height: 1.5em;
  padding: 40px;
  width: 90%;
  
}

.deleteaccaunt-content {
  margin-top: 80px;
  line-height: 1.5em;
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-content{
    font-size: var(--body-text);
    margin: auto;
    padding: 20px;
}

footer{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: var(--ligh-gray);
    font-size: var(--functional-text);
    margin-left: var(--sidebar);
}


/* DROPDOWN LANGUAGES */

.dropdown{
    min-width: 5em;
    position: relative;
    margin-right: 3em;
    margin-left: 2em;
    user-select: none;
  }
  
  .dropdown *{
    box-sizing: border-box;
  }
  
  .select{
    background-color: var(--dark-gray);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--ligh-gray);
    border-radius: 0.2em;
    padding: 0.4em;
    cursor: pointer;
    transition: background 0.3s;
    font-size: var(--body-text);
  }
  
  .select-clicked{
    box-shadow: 0 0 0.8em var(--dark-gray);
  }
  
  
  .select:hover{
    background-color: var(--dark-gray);
  }
  
  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--light);
    transition: 0.3s;
  }
  
  .caret-rotate{
    transform: rotate(180deg);
  }
  
  .menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: var(--dark-gray);
    border: 1px var(--ligh-gray) solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.2em;
    color: var(--light);
    position: absolute;
    top: 2.2em;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    display: none!important;
    z-index: 1;
  }
  
  .dropdown>ul{
    display: flex;
    flex-direction: column;
  }
  
  .menu li{
    padding: 0.2em 1em;
    margin: 0.3em 0;
    border-radius: 0.2em;
    cursor: pointer;
  }
  
  .menu li:hover{
    background: #6E7076;
  }
  
  .active{
    background: #6E7076;
  }
  
  .menu-open{
    display: block!important;
    opacity: 1;
  }
  
  .menu>li>a{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .menu>li>a>img{
   margin-right: .5em;
  }

/* HAMBURGER */
.hamburger {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #F6F6F6;
    border-radius: 20px;
    cursor: pointer;
    z-index: 3;
    transition: 0.3s;
  }
  
  .hamburger:before,
  .hamburger:after {
    content: "";
    position: absolute;
    height: 3px;
    right: 0;
    background-color: #F6F6F6;
    border-radius: 20px;
    transition: 0.3s;
  }
  
  .hamburger:before {
    top: -10px;
    width: 20px;
  }
  
  .hamburger:after {
    top: 10px;
    width: 25px;
  }
  
  .toggle-menu {
    position: absolute;
    padding: 10px;
    width: 30px;
    height: 100%;
    /* align-items: top; */
    top: 0;
    z-index: 3;
    cursor: pointer;
    opacity: 0;

  }
  
  .hamburger,
  .toggle-menu {
    display: none;
    margin-right: 2rem;

  }

  .nav-right input:checked~.hamburger {
    background: transparent;
  }
  
  .nav-right input:checked~.hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 25px;
  }
  
  .nav-right input:checked~.hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 25px;
  }
  
  .nav-right input:checked~.menu-burger {
    right: 0;
    box-shadow: -20px 0 70px rgba(0, 0, 0, 0.1);
    background: #353535;
    display: flex;
    justify-content: center;
  }

/* Django Message Styles */
.messages {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 9999;
}

.messages li {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

.messages>.warning {
  background-color: #f0ad4e!important;
}

.messages>.error {
  background-color: #d9534f!important;
}

.messages>.success {
  background-color: #5cb85c!important;
}

.messages.extra {
  background-color: #5bc0de!important;
}

.messages .close-button {
  cursor: pointer;
  float: right;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.messages .close-button:hover {
  opacity: 1;
}

/* Landing */
.landing-container{
  display: flex;
  min-height: calc(100vh - 50px);
}

.login-bg{
  background: url(/assets/landing-bg/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.landing{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5em;
  box-sizing: border-box;
  width: 100%;
  padding: 100px 40px;
  height: 100%;
  gap: 2rem;
  margin: auto 0;
}

.landing-login{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5em;
  box-sizing: border-box;
  width: 100%;
  padding: 100px 40px;
  height: 100%;
  gap: 2rem;
  margin: auto 0;
}
.landing-left{
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.landing-right{
  flex-direction: column;
  max-width: 800px;
}

.landing-right img{
  width: 100%;
}

.landing h1{
  text-transform: uppercase;
  font-size: 70px;
  line-height: 1;
}

.get-started{
  background-color: var(--yellow);
  width: fit-content;
  padding: 10px 40px;
  border-radius: 5px;
  color: var(--dark-gray);
}

.landing-btn{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  color: var(--dark-gray);
}

.have-acc{
  color: var(--dark-gray);
  font-size: var(--functional-text);
  margin-top: 10px;
  font-style: italic;
}

.no-sidebar{
  margin: 0;
}

/* Form  styles*/
/* Style for form container */
.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5em;
  box-sizing: border-box;
  width: 100%;
  padding: 100px 40px;
  height: 100%;
  gap: 2rem;
  margin: auto 0;
}


/* search athlete org form style */
.orgAthleteFormSearch {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.orgAthleteFormSearch>* {
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;

}
 .orgAthleteFormSearch>input {
  width: 200px;
 }

 .orgAthleteFormSearch-btn {

  box-shadow: 0 0 0 0;
  background-color: var(--ligh-gray);
  align-items: center;
  text-align: center;
  width: fit-content;
  border-radius: 5px;
  color: var(--light);
}
.orgAthleteFormSearch-btn:hover {
  background-color: var(--dark-gray);
}


/* Style for form card */
.form-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-card p {
  margin-bottom: 2px;
  margin-top: 15px;
}

.form-card ul li {
  list-style-type: none;
  padding-left: 8px;
  margin-bottom: 2px; /* Adjust this value to reduce space between each li */
  border-left: 3px solid var(--ligh-gray); 
  
}

.form-card ul li small {
  font-size: 12px;
}

.form-card ul li.error {
  border-left: 3px solid #f00; /* Use your desired error border color */
  color: #f00;
}

.form-size {
  width: 500px;
}

.form-size-analytics {
  width: 300px;
  margin-bottom: 20px;
}


.clearable-file-input > * {
  display: block;
  margin-bottom: 5px; /* Optional: Adds some space between the elements */
}


.error {
  border-left: 3px solid #f00; /* Use your desired error border color */
  color: #f00;
  padding-left: 5px;
}

/* Style for form input elements */
.form-input, .number-input, .role-input {
  border-radius: 4px;
  border: 2px solid #d9d9d9;
  box-sizing: border-box;
  display: block;
  padding: 10px;
}

.memberlist-form-name, .memberlist-form-number, .memberlist-form-role {
  flex: 0 0 calc(100% / 4);
  text-align: left;
}
.form-input {
  width: 100%;
  margin-bottom: 5px;
}

.number-input {
  width: 30%; /* Adjust the width as desired */
  margin-bottom: 0px;
  margin-top: 0px;
}

.role-input {
  width: 60%; /* Adjust the width as desired */
  margin-bottom: 0px;
  margin-top: 0px;
}

.checkbox-input {
  display: block;
  margin: 10px 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-right: 10px;
}

.number-container {
  display: flex;
  align-items: center;
}

.number-label {
  margin-right: 5px;
}

/* Style for form submit button */
.form-submit {
  background-color:  var(--ligh-gray);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.form-cancel {
  background-color:  var(--dark-gray);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

/* Hover state for submit button */
.form-submit:hover {
  background-color:  var(--dark-gray);
}

.form-cancel:hover {
  background-color:  var(--ligh-gray);
}

.form-cancel>a{
  margin-right: 20px;
  padding-right: 20px;
}
/*  User Account */
.user-container{
  display: flex;
  min-height: calc(100vh - 50px);
}
.user-content{
  margin-top: 80px;
  line-height: 1.5em;
  padding: 40px;
  width: 100%;
  justify-content: center;
}

/* BOX */
.main-container{
  /* width: 100vw; */
  color: #000000e6;
}

.mid{
  max-width: 1200px;
  display: flex;
  margin: 80px  auto;
}

.box-1{
  padding: 15px;
}

.box-2{
  padding: 15px;
  margin-top: 30px;
}


.box-1>h1{
  margin-bottom: 20px;
}

.profile-list-group{
  margin-bottom: 35px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
  border: 1px solid rgb(243, 243, 243);
}

.profile-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-section-list{
  margin-bottom: 20px;
}

.profile-ach-group{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.profile-ach-group>div{
  padding: 20px 20px 0px 0px;
}

.profile-date{
  font-style: italic;
  color: #00000099;
}

.profile-bold{
  font-weight: 600;
}

.list-divider{
  border: 1px solid rgb(204, 204, 204);
}


.profile-highlight{ 
  display: flex;
  justify-content: center;
  background-color: rgb(226, 226, 226);
  width: 200px;
  height: 120px;
  align-items: center;
}

.play-btn{
  max-height: 50px;
}


.highlight-name{
  margin: 10px 0px;
  text-align: center;
}

.profile-box{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-name{
  margin-top: 20px;
}

.profile-edit-btn{
  margin-top: 20px;
  padding: 5px 10px;
}


.add-btn{
  padding: 5px 10px;
}

.profile-img{
  max-width: 200px;
  height: 200px;
}

.video-link{
  padding: 20px 20px 0px 0px;
}


  /* TEAMS */
  .teams-container{
    display: flex;
    min-height: calc(100vh - 50px);
  }
  
  .teams-all {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5em;
    box-sizing: border-box;
    width: 100%;
    padding: 100px 40px;
    height: 100%;
    gap: 2rem;
    margin: auto 0;
  }
  .team-heading{
    display: flex;
    justify-content: start;
    margin-bottom: 32px;
    margin-top: 40px;
  }
  .team-card-list {
    justify-content: center;
    display: flex;

  }

  .team-card{
    background-color: var(--light);
    padding: 16px 32px;
    margin-top: 30px;
    border-radius: 7px;
  }

  .team-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
  }
  .team-card-left {
    justify-content: row;
    align-items: center;
  }
  .teams-block {
    display: flex;
    flex-direction: column;
  }
  .team-card-p {
    display: block;
    margin: 0; /* Remove default margin */
  }
  .team-card-right {
    margin-top: 5px;
  }

  .teams-all-header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  .teams-all-header-element {
    margin: 10px;
  }

  .team-card-image {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 100%;
    border: 5px solid var(--dark-gray);
  }
  
  .teamurl {
    text-decoration: none;
    color: black;
  }
  

  /* CREATE TEAM */
  .create-btn-line {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .create-btn {
    box-shadow: 0 0 0 0;
    background-color: var(--ligh-gray);
    width: fit-content;
    padding: 5px 10px;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
    color: var(--light);
  }

  .create-btn:hover {
    background-color: var(--dark-gray);
  }
  
  .create-team-link {
    background-color: var(--ligh-gray);
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
  }
  
  .create-team-link:hover {
    background-color: var(--dark-gray);
  }
  /* TEAM */
.team-group{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.2;
}

.team-logo{
  width: 120px;
  height: auto;
  margin-right: 24px;
  border-radius: 100%;
  border: 7px solid var(--light);
}

.team-name{
  margin: 24px 0px;
}

.about-team{
  margin: 16px 0px;
}

.events-name{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  line-height: 1.2;
  flex-wrap: wrap;
}

.all-events{
  display: flex;
  justify-content: end;
  user-select: none;
}

.all-events>a{
  background-color: var(--light);
  padding: 10px 40px;
  border-radius: 7px;
  color: var(--dark-gray);
  border: 1px solid transparent;
}

.all-events>a:hover{
  transition: ease .4s;
  border: solid 1px;
  border-color: var(--dark-gray);
}

.about-team,.event-card{
  background-color: var(--light);
  padding: 16px 32px;
  border-radius: 7px;
}

.team-description{
  margin-top: 16px;
}

.team-category{
  display: flex;
}

.team-category>p{
  margin-right: 7px;
}

/* Styles for the event card container */
.team-event-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

/* Styles for the event title */
.team-event-card-title h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

/* Styles for the event start time */
.team-event-card-start p {
  font-size: 16px;
  margin: 0;
  padding-bottom: 5px;
}

/* Styles for the event comment */
.team-event-card-comment p {
  font-size: 14px;
  margin: 0;
}

.event-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
  color: var(--dark-gray);
  border: 1px solid transparent;
}

.event-card:hover{
  border-color: var(--ligh-gray);
  transition: ease .4s;
}

.event-date{
  color: #05ac37;
  font-weight: bold;
}

.event-type{
  font-weight: bold;
}

.player_card{
  background-color: var(--light);
  border-radius: 7px;
  max-width: 200px;
}

.player_data{
  padding: 10px 20px 20px 20px;
}


.player_img{
  width: 200px;
  height: 200px;
  border-radius: 7px;
  object-fit: cover;
  user-select: none;
}

.player_name{
  font-weight: bold;
  font-size: 18px;
}

.player-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;
}

.player_card{
  border: 1px solid var(--light);
}

.player_number{
  font-weight: bold;
}

.players-heading{
  display: flex;
  justify-content: start;
  margin-bottom: 32px;
  margin-top: 40px;
}


/* Calendar */
.calendar {
  width: 100%;
  margin: auto;
  font-size: 12px;
  border-collapse: collapse;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
  border-radius: 10px;
  overflow: hidden;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  background-color: var(--dark-gray);
  color: #C5C6C7;
}

.calendar td {
  width: 150px;
  height: 160px;
  padding: 5px 0px 0px 0px;
  text-align: center;
  background-color: var(--light);
  color: var(--ligh-gray);
  border-collapse: collapse;
  border-width: 1px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
  border-radius: 10px;
}

.calendar-current-day {
  background-color: var(--gray)!important
}

.calendar-athlete-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.calendar ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.month {
  font-size: 25px;
  color: #C5C6C7;
  background-color: #0B0C10;
  padding: 20px 0;
}

.cell-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.date {
  position: absolute;
  right: 10px;
  font-size: 14px;
  color: #1F2833;
}

.event-type1,
.event-type2,
.event-type3,
.event-type4 {
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px;
  color: #1F2833;
  width: 80%;
  display: block;
  text-align: left;
}

.event-type1 { background-color: gold; }
.event-type2 { background-color: green; }
.event-type3 { background-color: #17a2b8; }
.event-type4 { background-color: #696969; }

.calendar-btn {
  display: flex;
  justify-content: space-between!important
}

/* calendar form */

.form-cal {
  margin: auto;
}

.form-cal input, .form-cal select, .form-cal textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

/* calendar btn */

.cal-btn-line {
  display: flex;
  align-items: center;
  justify-content: left;
}
.cal-btn {

  box-shadow: 0 0 0 0;
  background-color: var(--ligh-gray);
  align-items: center;
  text-align: center;
  width: fit-content;
  padding: 5px 10px;
  margin: 20px 0px 20px 0;
  border-radius: 5px;
  color: var(--light);
}
.cal-btn:hover {
  background-color: var(--dark-gray);
}

/* member list */
.memberlist {
  width: 100%;
  flex-wrap: wrap;
}

.memberlist-card {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.member-card-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 5px solid var(--light);
}

.memberlist-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.memberlist-name, .memberlist-number, .memberlist-role {
  flex: 0 0 calc(100% / 4);
  text-align: left;
}

.memberlist-delete {
  flex: 0 0 calc(100% / 20);
  text-align: right;
  margin-top: 5px;
  margin-right: 10px;
}

.memberlist-role {
  margin: 0 10px 5px 0;
}

.memberlist-name {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}



.delete-link {
  margin-top: 5px;
}


/* Athete list ORG */
.orgAthleteList {
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.orgAthleteList-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  min-height: 100px;
  min-width: 300px;

}

.orgAthleteList-card-image {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orgAthlete-member-card-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid var(--light);
}


.orgAthleteList-card-details {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.orgAthleteList-team-members {
  margin-left: 5px;
}
.orgAthleteList-name {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-left: 5px;
}

.orgAthleteList-team-details {
  list-style: none; /* Remove default list styling */
  padding-left: 0; /* Remove default padding */
  margin-top: 5px; /* Add a little space above the list */
  line-height: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.orgAthleteList-team-heading {
  font-weight: bold;
  font-style: italic;
  font-size: 0.7rem;
  line-height: 1rem;
}

.orgAthleteList-team {
  font-weight: normal;
  font-style: italic;
  font-size: 0.7rem;
  margin-bottom: 5px; /* Add space between list items */
  margin-right: 5px;
}

/* team list ORG */
.orgTeamList {
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
  min-width: 300px;
  max-width: 550px;
}

.orgTeamList-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  min-height: 100px;
  min-width: 300px;
  max-width: 450px;
}

.orgTeamList-card-image {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orgTeam-member-card-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid var(--light);
}



.orgTeamList-card-details {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.orgTeamList-ml5 {
  margin-left: 5px;
}

.orgTeamList-name {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 5px;
}

.orgTeamList-owner {
  font-weight: bold;
  font-style: italic;
  font-size: 0.8rem;
  margin-right: 5px;
}

/* orgTeamFormSearch */
.orgTeamFormSearch {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 300px;
  max-width: 500px;
}

.orgTeamFormSearch>* {
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
}

.orgTeamFormSearch>input {
  width: 200px;;
}

.orgTeamFormSearch-btn {
  box-shadow: 0 0 0 0;
  background-color: var(--ligh-gray);
  align-items: center;
  text-align: center;
  width: fit-content;
  border-radius: 5px;
  color: var(--light);
}
.orgTeamFormSearch-btn:hover {
  background-color: var(--dark-gray);
}


/* physical assessments */
.physical-assessments-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;
  margin:40px 20px;
}
.physical-assessments-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--light);
  border-radius: 7px;
  width: 150px;
  height: 150px;
}

.pacard-spacebetween {
  justify-content: space-between;
}

.physical-assessments-card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black; /* Set the default text color to black */
  text-decoration: none;
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

.physical-assessments-card a:hover,
.physical-assessments-card a:active {
  background-color: var(--super-gray); /* Set the background color for the link when it is clicked or hovered */
}

.physical-assessments-card a:hover p,
.physical-assessments-card a:hover svg,
.physical-assessments-card a:active p,
.physical-assessments-card a:active svg {
  color: black; /* Set the text and SVG icon color to black when the link is clicked or hovered */
}

.physical-assessments-actions{
  justify-content: space-between;
  display: flex;
}
.physical-assessments-header {
  display: block;
  align-items: center;  
  flex-wrap: wrap;
}

.physical-assessments-card-title {
  font-weight: bold;
}

.physical-assessment-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

/* FIRST example */
.physical-assessment-table-container {
  overflow-x: auto;
  width: 800px;
  justify-content: center;

}

.physical-assessment-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  margin: 20px 0px;
}

.physical-assessment-table th:first-child,
.physical-assessment-table td:first-child {
  
  position: sticky;
  left: 0;
  z-index: 1;
  max-width: 150px;
  min-width: 120px;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: var(--light);
}

.physical-assessment-table th:not(:first-child),
.physical-assessment-table td:not(:first-child) {
  width: 80px;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  border: 1px solid #ddd;
}


.physical-assessment-table tr:nth-child(even) {
  background-color: #f2f2f2;
}



.edit-pa-card {
  background-color: var(--light);
  border: solid 1px;
  border-radius: 10px;
  border-color: var(--dark-gray);
  padding: 10px;
  display: flex;
}

.edit-pa-card-content {
  padding-left: 10px;
}

.edit-pa-card-content a {
  padding: 10px;
  margin-bottom: 10px;
}

.edit-pa-buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}


.physical-assessments-btn {

  box-shadow: 0 0 0 0;
  background-color: var(--ligh-gray);
  width: fit-content;
  padding: 5px 10px;
  margin: 20px 20px 20px 0;
  border-radius: 5px;
  color: var(--light);
}

.physical-assessments-btn:hover {
  background-color: var(--dark-gray);
}

.physical-assessments-btn-row {
  display: flex;
  align-items: center;
  justify-content: left;
}

/* physical-assessment score table styles with table-score class */
.table-score {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table-score th,
.table-score td {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: center; 
  border: 2px solid #d9d9d9;
}

.table-score thead th {
  vertical-align: bottom;
  background-color: #f8f9fa;
  color: #495057;
}

.table-score-input {
  border-radius: 4px;
  border: 2px solid #d9d9d9;
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 10px;
  width: 100%;
}

/* PLAYBOOK */


.tactic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
}

.tactic-header-left,
.tactic-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tactic-header-right {
  flex-direction: row;
}

.tactic-header-right svg {
  margin-right: 10px;  /* Or any value you want */
}
/* edit tactic plays tactics */
.edit-tactic-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-tactic-plays-card {
  margin-bottom: 20px;
}

.edit-tacic-play {
  background-color: var(--super-gray);
}
/* single tactic gallery */

.gallery {
  width: 100%;
  align-items: center;
  background-color: var(--light);
  border-radius: 10px;
  border-width: 2px;
  border: solid 0.5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tactic-title {
  margin-bottom: 20px;
}

.tactic-img {
  width: 100%; /* Adjust as needed */
  height: auto; /* Maintains aspect ratio */
  margin-bottom: 1rem;
  border: solid 3px;
  border-radius: 5px;

}

.tactic-image-description {
  display: flex; /* Use flexbox to stack elements vertically */
  flex-direction: column; /* Stack elements vertically */
  align-items: left; /* Center the elements horizontally */
  justify-content: left; /* Center the elements vertically */
  border: 3px solid var(--gray);
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

.decription-header {
  display: flex;
  align-items: center; /* Center the elements horizontally */
  justify-content: center; /* Center the elements vertically */
  margin-top: 10px;
}

.decription-text{
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: left; /* Center the elements vertically */
}
.image-navbutton-wrapper {
  display: flex; /* Use flexbox to stack elements vertically */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center the elements horizontally */
  justify-content: center; /* Center the elements vertically */
  margin: 5px;
}
#main-description {
  margin-bottom: 1rem;
  text-align: left;
  justify-content: left;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}


#prev-button,
#next-button {
  margin: 0 1rem;
  border: none;
  background-color: #ffffff;
}

#paginatePrevButton, #paginateNextButton {
  width: 50px;
  height: 30px;
  border-color: var(--ligh-gray);
  border: solid 1px;
  border-radius: 3px;
}

.disabled-image-buttons {
  opacity: 0.25;
  cursor: not-allowed;
}

.image-nav-line {
  display: flex; /* Use CSS grid for a two-column layout */
  justify-content: space-between;
  background-color: #ffffff;
  border: 3px solid var(--gray);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 350px;
  height: 60px;
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.thumbnail {
  width: 100px; /* Adjust as needed */
  height: auto; /* Maintains aspect ratio */
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.hidden-image {
  display: none;
}

.selected {
  border: 2px solid var(--ligh-gray); /* Adjust color and border width as needed */
}
/* CANVAS */

.canvas-box {
  width: 1000px;
  border: 1px solid #e0e0e0;
  margin: 40px 20px;
  display: flex;
  flex-grow: 1;
}

.left-block {
  width: 160px;
  border-right: 1px solid #e0e0e0;
}

.brush-colors {
  background-color: #ece8e8;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
}

.brush-colors button {
  display: inline-block;
  border: 1px solid #00000026;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-bottom: 5px
}

.brush-colors button:nth-of-type(1) {
  background-color: #0000ff;
}

.brush-colors button:nth-of-type(2) {
  background-color: #009fff;
}

.brush-colors button:nth-of-type(3) {
  background-color: #0fffff;
}

.brush-colors button:nth-of-type(4) {
  background-color: #bfffff;
}

.brush-colors button:nth-of-type(5) {
  background-color: #000000;
}

.brush-colors button:nth-of-type(6) {
  background-color: #333333;
}

.brush-colors button:nth-of-type(7) {
  background-color: #666666;
}

.brush-colors button:nth-of-type(8) {
  background-color: #999999;
}

.brush-colors button:nth-of-type(9) {
  background-color: #ffcc66;
}

.brush-colors button:nth-of-type(10) {
  background-color: #ffcc00;
}

.brush-colors button:nth-of-type(11) {
  background-color: #ffff00;
}

.brush-colors button:nth-of-type(12) {
  background-color: #ffff99;
}

.brush-colors button:nth-of-type(13) {
  background-color: #003300;
}

.brush-colors button:nth-of-type(14) {
  background-color: #555000;
}

.brush-colors button:nth-of-type(15) {
  background-color: #00ff00;
}

.brush-colors button:nth-of-type(16) {
  background-color: #99ff99;
}

.brush-colors button:nth-of-type(17) {
  background-color: #f00000;
}

.brush-colors button:nth-of-type(18) {
  background-color: #ff6600;
}

.brush-colors button:nth-of-type(19) {
  background-color: #ff9933;
}

.brush-colors button:nth-of-type(20) {
  background-color: #f5deb3;
}

.brush-colors button:nth-of-type(21) {
  background-color: #330000;
}

.brush-colors button:nth-of-type(22) {
  background-color: #663300;
}

.brush-colors button:nth-of-type(23) {
  background-color: #cc6600;
}

.brush-colors button:nth-of-type(24) {
  background-color: #deb887;
}

.brush-colors button:nth-of-type(25) {
  background-color: #aa0fff;
}

.brush-colors button:nth-of-type(26) {
  background-color: #cc66cc;
}

.brush-colors button:nth-of-type(27) {
  background-color: #ff66ff;
}

.brush-colors button:nth-of-type(28) {
  background-color: #ff99ff;
}

.brush-colors button:nth-of-type(29) {
  background-color: #e8c4e8;
}

.brush-colors button:nth-of-type(30) {
  background-color: #ffffff;
}

.brushes {
  /* background-color: purple; */
  padding-top: 5px
}

.brushes button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: #ece8e8;
  margin-bottom: 5px;
  padding: 5px;
  height: 30px;
  outline: none;
  position: relative;
  cursor: pointer;
}

.brushes button:after {
  height: 1px;
  display: block;
  background: #808080;
  content: '';
}

.brushes button:nth-of-type(1):after {
  height: 1px;
}

.brushes button:nth-of-type(2):after {
  height: 2px;
}

.brushes button:nth-of-type(3):after {
  height: 3px;
}

.brushes button:nth-of-type(4):after {
  height: 4px;
}

.brushes button:nth-of-type(5):after {
  height: 5px;
}

.buttons {
  height: 80px;
  padding-top: 10px;
}

.buttons button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: #ece8e8;
  margin-bottom: 5px;
  padding: 5px;
  height: 30px;
  outline: none;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.right-block {
  width: 900px;
}

#paint-canvas {
  cursor:crosshair;
}

/* team season table */

.seasons-table {
  width: 100%;
  border-collapse: collapse;
}

.seasons-table th, .seasons-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.seasons-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.seasons-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.seasons-table tr:hover {
  background-color: #ddd;
}

/* delete template */

.delete-card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}

.delete-card p {
  font-size: 18px;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cal-btn.go-back-btn {
  background-color: #6c757d;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.cal-btn.go-back-btn:hover {
  background-color: #5a6268;
}

.confirm-btn {
  background-color: var(--dark-gray);
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  margin: 20px 20px 20px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.confirm-btn:hover {
  background-color: var(--ligh-gray);
}

/* Analytics */
.analytics-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

}

.analytics-total-card {
  display: flex; /* Use CSS grid for a two-column layout */
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  border: 3px solid var(--gray);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%; /* Adjust the width as needed */
  margin-top: 30px;
  margin-bottom: 30px;
}

.analytics-total-card-athlete {
  display: flex; /* Use CSS grid for a two-column layout */
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  border: 3px solid var(--gray);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%; /* Adjust the width as needed */
  margin-top: 30px;
  margin-bottom: 30px;
}

.analytics-teammember {
  display: flex;
  justify-content: center;
  align-items: center;
}

.analytics-singlemember-card-image {
  width: 40px; /* Adjust the image size as needed */
  height: 40px;
  border-radius: 100%;
  border: 5px solid var(--ligh-gray);
}
.analytics-season {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

.analytics-member-total-events {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.analytics-team-total-events {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
}



.analytics-charts {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: auto;
  margin: auto;
  margin-left: 10px;
  margin-top: 10px;
}
.analytics-athlete-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling for overflow */
  display: flex;
  margin-bottom: 20px;
}

.analytics-athlete-container-inside {
  overflow-x: auto;
  width: 700px;
  justify-content: center;
}

.analytics-pratice-card {
  display: flex;
  width: 200px;
  padding: 10px;
  padding-left: 20px;
  margin-right: 20px;
  margin-left: 50px;
  line-height: 1rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  justify-content: space-between;
}

.analytics-pratice-left {
  font-size: 1rem;
}

.analytics-pratice-right {
  font-size: 1.2rem;
  margin-right: 20px;
}

.analytics-total-chart {
  display: flex; /* Use flexbox to center the chart */
  align-items: center; /* Center the chart horizontally */
  justify-content: center; /* Center the chart vertically */
  margin: 5px;
  margin-bottom: 20px;
}


.analytics-total-chart canvas {
  width: 100%; /* Adjust the canvas size as needed */
  height: 100%;

}


.analytics-card {
  display: grid; /* Use CSS grid for a two-column layout */
  grid-template-columns: auto 1fr; /* Define two columns, first column auto-sized and second column takes remaining space */
  background-color: #ffffff;
  border: 3px solid var(--gray);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px; /* Adjust the width as needed */
  height: 200px;
  margin: 10px;
}

.analytics-member {
  display: flex; /* Use flexbox to stack elements vertically */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center the elements horizontally */
  justify-content: center; /* Center the elements vertically */
}

.analytics-member-card-image {
  width: 100px; /* Adjust the image size as needed */
  height: 100px;
  border-radius: 100%;
  border: 5px solid var(--ligh-gray);
}

.analytics-chart {
  display: flex; /* Use flexbox to center the chart */
  align-items: center; /* Center the chart horizontally */
  justify-content: right; /* Center the chart vertically */
}

.analytics-chart canvas {
  width: 150px; /* Adjust the canvas size as needed */
  height: 150px;

}

.analytics-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;
}

.analytics-score-card {
  width: 300px;
  height: 380px;
  justify-content: center;
  margin-top: 20px;
  background-color: #ffffff;
  border: 3px solid var(--gray);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Add this line */
}

.analytics-score-list {
  width: auto;
  height: 300px;
  overflow: auto;
}

.analytics-score-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.analytics-score-heading-list {
  display: flex;
  flex-direction: column; /* Display items in a column */
  justify-content: center;
  align-items: center;
}

.score-heading-row {
  margin-top: 5px; /* Adjust the spacing between rows as needed */
  margin-top: 5px; /* Adjust the spacing between rows as needed */
}

.analytics-score-table {
  width: 270px;
  border-collapse: collapse;
  table-layout: auto;
  margin: 5px 5px 20px 5px;
}

analytics-score-table th:first-child,
.analytics-score-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  width: 55%;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: var(--light);
  text-align: center;
}

.analytics-score-table th:not(:first-child),
.analytics-score-table td:not(:first-child) {
  width: 45%;
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
  
}
.analytics-score-table td:not(:first-child) {
  font-size: 12px;
}

.notes-section {
  margin: 20px 0;
}

.analytics-all {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}



.event-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.event-row {
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.event-row:hover {
  background-color: #f0f0f0;
}

.event-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.event-title {
  font-weight: bold;
}

.event-time {
  color: #777;
}

.event-note {
  padding-left: 10px;
  border-left: 4px solid #e0e0e0;
}

/* E-mail notifications */

.notification-email-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.notification-email-card .nf-title {
  font-size: 18px;
  color: #333;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.notification-email-card svg {
  width: 24px;
  height: 24px;
  fill: #007AFF;
  margin-right: 10px;
}

.notification-email-card-left {
  display: flex;
  align-items: center;
}

.nf-title:hover {
  background-color: var(--super-gray); /* Change the background color on hover */
  
  /* Add any other styles you want for the hover effect */
}

.notification-email-card-right {
  display: flex;
  align-items: center;
}

.link-checkbox-input {
  margin: 10px 0;
}

.link-checkbox-container {
  display: flex;
  align-items: center;
}

.link-checkbox-container {
  display: block;
}

.link-checkbox-container > label {
  display: block;
  margin-bottom: 10px; /* Space between the main label and the first checkbox */
}

#id_links {
  display: block;
}

#id_links > div {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Space between each checkbox */
}

#id_links label {
  margin-left: 20px; /* Space between checkbox and its label */
  white-space: nowrap;
}

#id_links input[type="checkbox"] {
  margin-right: 10px; /* Space before the label text */
}

/* #id_links div {
  display: row;
  align-items: center;
}

#id_links label {
  margin-left: 20px;
} */


/* Organization */

.organization-container {
  display: flex;
  min-height: calc(100vh - 50px);
}
.organization-header {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 100px 20px 20px 20px;
  height: 250px;
}

.organization-subscription {
  width: 300px;
  height: 100px;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-wrap: break-word;
}

.org-mt {
  margin-top: 80px;
}
.org-usp-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.org-usp-card {
  display: block;
  width: 200px;
  height: 80px;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.org-usp-card-block {
  display: flex;
  width: 100%;
}
.org-usp-card-leftside {
  display: block;
  width: 50%;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.org-usp-card-leftside-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.org-usp-card-rightside {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: right;
  font-size: 1.5rem;
  padding-right: 25px;
}


/* .organization-header {
  min-width: var(--sidebar);
  display: flex;
  height: 100vh;
  background-color: var(--light);
  position: fixed;
  user-select: none;
  z-index: 2;
} */
.org-invite-container{
  display: flex;
  align-items: center;
  justify-content: left;
}
.org-invite-form{
  width: 500px;

}
.org-myteams-card{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 16px;
  flex-wrap: wrap;
  color: var(--dark-gray);
  border: 1px solid transparent;
}


.org-myteams-card:hover{
  border-color: var(--ligh-gray);
  transition: ease .4s;
}
/* CSS for the organization members list */
.organization-members {
  margin-top: 100px;
  margin-left: 20px;
}

/* Style the organization members list items */
.organization-members ul {
  list-style-type: none;
  padding: 0;
}

.organization-members li {
  margin-bottom: 5px;
}

.org-my-teams{
  display: flex;
  justify-content: end;
  user-select: none;
  align-items: center;
}

.org-my-teams>a{
  background-color: var(--light);
  padding: 10px 20px;
  border-radius: 7px;
  color: var(--dark-gray);
  border: 1px solid transparent;
}

.org-my-teams>a:hover{
  transition: ease .4s;
  border: solid 1px;
  border-color: var(--dark-gray);
}


/* organization physical assessments */

.org-physical-assessments-create {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.org-physical-assessments-create p {
  font-weight: bold;
}
.org-physical-assessments-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  height: 50px;
  min-width: 300px;
  max-width: 550px;
  background-color: var(--light);
}

.org-physical-assessments-info {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}


.org-physical-assessments-card-title {
  font-weight: bold;
}

/* View org-physical-assessments */
.view-org-pa-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--gray);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: left;
  min-width: 300px;
  max-width: 550px;
}

.view-org-pa-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.view-org-pa-heading-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 5px 10px 10px;
}

.view-org-pa-heading-title {
  margin-left: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.view-org-pa-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.view-org-pa-info {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 5px;
}

.view-org-pa-description {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 10px;
}

.view-org-pa-text {
  font-weight: bold;
}
/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  border: 1px solid #ddd;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  background-color: #f8f8f8;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.pagination a:hover {
  background-color: #e9e9e9;
  border-color: #bbb;
}

.pagination .active-page {
  background-color: var(--dark-gray);
  color: white;
  border-color: var(--dark-gray);
}

.pagination .page-item:first-child a {
  margin-left: 0;
}

.pagination .page-item:last-child a {
  margin-right: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1350px){
  .orgAthleteList {
    justify-content: center;
  }
  .orgAthleteFormSearch>* {
    margin-bottom: 10px;
  }
  .orgTeamFormSearch>* {
    margin-bottom: 10px;
  }
  .orgTeamList {
    justify-content: center;
  }
 
}


@media only screen and (max-width: 992px){
    .main-container{
        flex-direction: column;
    }
    .sidebar{
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 50px;
    }
    .content{
        margin: 0px 0px 0px 0px;
        padding-right: 0px;
    }
    .analytics-card-content{
      margin: 0px 0px 0px 0px;
      padding-right: 0px;
      padding-left: 20px;
    }


    footer{
        margin: 0px;
    }
    
    .team-group{
      justify-content: center;
    }

    .team-category{
      justify-content: center;
    }

    .player-grid{
      justify-content: center;
    }

    .head-group{
      flex-wrap: wrap;
    }

    .s30,.s50,.s70{
      width: 100%;
    }

    .org-mt {
      margin: auto;
    }

    .side{
      display: flex;
    }

    .sidebar-links{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 15px;
    }

    .inner-content{
      padding: 0px;
      background-color: var(--light)!important;
    }

    .analytics-grid {
      justify-content: center;
    }

}

  
@media screen and (max-width: 768px) {
    .hamburger,
    .toggle-menu {
        display: block;
    }
  
    .navigation {
      height: 50px;
    }
  
    .menu-burger {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;
        padding-top: 65px;
        background-color: #353535!important;
        z-index: 1;
    }
    .navbar>li{
      margin: 16px 0px;
    }
    .dropdown{
      margin: 0px;
    }

    .s30,.s50,.s70,.s100{
      width: 100%;
    }

    .head-group{
      flex-wrap: wrap;
    }

    .player-grid{
      justify-content: center;
    }

    .events-name{
      display: flex;
      justify-content: center;
    }

    .analytics-grid {
      justify-content: center;
    }

    .mid{
      flex-direction: column;
  }
  .profile-box{
      flex-direction: row;
      align-items: center;
  }

  .profile-name{
      margin-left: 20px;
  }

  .orgAthleteList {
    justify-content: center;
  }
  .orgTeamList {
    justify-content: center;
  }

  }


  @media screen and (max-width: 600px){
    .landing__h1{
      font-size: 3em!important;
      line-height: 1.4em!important;
    }
  
    .analytics-card-content{
      padding-left: 15px;
    }

    .analytics-card{
      width: 320px!important;
    }
    
    .events-name{
      display: flex;
      justify-content: center;
    }
    .players-heading{
      justify-content: center;
  
    }
  
    .landing-left h1{
      font-size: 50px;
    }
  
    .analytics-grid {
      justify-content: center;
    }
  
    .profile-box{
      flex-direction: row;
    }
    .form-size {
      width: 400px;
    }
    .orgAthleteFormSearch>input {
      width: 90%!important;
    }
    .orgTeamFormSearch>input {
      width: 90%!important;
    }
  
  }