{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

<div class="main-container">
    {% include 'sidebar.html'%}
    <main class="content">
        <div class="heading-card">
            <h1>
                {% trans 'Create new record' %}
            </h1>
        </div>
        <div>
            <form method="post" class="form-card">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    <label for="{{ field.auto_id }}">{% trans field.label %}</label>
                    {% if forloop.first %}
                    {% comment %} {{ field|add_class:"form-input"|attr:"autofocus" }} paslaik nonemts autofocus, jo ir tikai viens inputs{% endcomment %}
                    {{ field|add_class:"form-input" }}
                    {% else %}
                    {{ field|add_class:"form-input" }}
                    {% endif %}
        
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                    {% if form.non_field_errors %}
                        {% for error2 in form.non_field_errors %}
                        <span class="error">{{ error2.label }}</span>
                        {% endfor %}
                    {% endif %}
                </p>
                {% endfor %}
                <input type='submit' class="form-submit" value="{% trans 'Create' %}">
                <a class="form-cancel" href="{%url 'single-physical-assessment' pk=teamObj.id papk=pa.id%}">{% trans 'Go Back'%}</a>
            </form>
        </div>

    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr(".datetimepicker-input", {
            dateFormat: "Y-m-d",
        });
    });
</script>
{% endblock content %}