{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

<div class="main-container">
    {% include 'sidebar.html' %}
    <main class="content">
      <div class="head-group">
        <div class="s100">
          <div class="heading-card">
            <h1 class="physical-assessments-card-title">{{record.physical_assessment_title|capfirst}}</h1>
          </div>
          {% if record.assessment_type == 'time' %}
          <p>{% trans 'Type: Time' %}</p>
          {% elif record.assessment_type == 'score' %}
          <p>{% trans 'Type: Score' %}</p>
          {% elif record.assessment_type == 'distance' %}
          <p>{% trans 'Type: Distance' %}</p>
          {% endif %}

          <div class="physical-assessments-btn-row">
            {% if role == '2' or role == '4' %}
            <div class="pa-btn-row-left">
              <a class="physical-assessments-btn me-20" href="{% url 'physical-assessment-new-measurement' pk=teamObj.id papk=record.id %}">{% trans 'Add Date' %}</a>
              <a class="physical-assessments-btn me-20" href="{% url 'download_physical_assessment_score' pk=teamObj.id papk=record.id %}">{% trans 'Export to CSV' %}</a>
              <a class="physical-assessments-btn me-20" href="{% url 'delete-single-physical-assessment' pk=teamObj.id papk=record.id %}">{% trans 'Delete' %}</a>
              
            </div>
            <div class="pa-btn-row-right">
              
              <form method="post"  class="pa-date-choice-form">
                {% csrf_token %}
                {% for field in form %}
                  
                    {{ field|add_class:"form-input-pa" }}
        
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                        
                {% endfor %}
                <input type='submit' class="form-submit-pa" value="{% trans 'Edit record' %}" >
              </form>
            </div>
             {% endif %}
          </div>
          <hr>
          <div class="physical-assessment-container">
              {% if dates %}
              <div class="physical-assessment-table-container">
              <table class="physical-assessment-table" id="physical-assessment-table" data-title="{{record.physical_assessment_title}}" data-teamname="{{record.team}}">
                <thead>
                  <tr>
                    <th>{% trans 'Athlete' %}</th>
                    {% for date in dates %}
                    <th>{{ date|date:"d.m.Y" }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for team_member in team_members %}
                  <tr>
                    <td>{{ team_member.profileID.name|capfirst }}</td>
                    {% for date in dates %}
                    <td>
                      {% with scores_by_member_and_date|get_item:team_member|get_item:date as pa_score %}
                      {% if pa_score %}
                        {% if record.assessment_type == 'score' and pa_score.score != None %}
                          {{ pa_score.score }}<br>
                        {% elif record.assessment_type == 'time' and pa_score.time != None%}
                          {{ pa_score.time|format_duration }}<br>
                        {% elif record.assessment_type == 'distance' and pa_score.distance != None%}
                          {{ pa_score.distance|format_distance }}
                        {% endif %}
                      {% else %}
                        N/A
                      {% endif %}
                      {% endwith %}
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
              {% else %}
              <a href='{% url "physical-assessment-new-measurement" pk=teamObj.id papk=record.id %}' class="have-acc">
                {% trans 'Please create new physical result date recod!' %}
              </a>
              {% endif %}
              
            
          </div>
        </div>
      </div>
    </main>
  </div>

  {% endblock content %}

