{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}
{% load i18n %}
{% block content %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock extra_js %}
<div class="main-container">
    {% include 'sidebar.html'%}
        <main class="analytics-card-content">
            <div class="heading-card">
                <h1>{% trans 'Analytic for Athlete'%}</h1>
            </div>
            <div class="analytics-total-card">     
                <div class="team-analytics-athlete-info mb-10">
                    <div class="team-athlete-go-back">
                        <a href="{% url 'team-analytics' teamObj.id %}" class="me-20 mt-5">
                            <svg id='Go_Back_32' width='32' class="go-bck-svg-analytics" height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>


                                <g transform="matrix(1.08 0 0 1.08 16 16)" >
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-16, -16)" d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 13 12 L 9 16 L 13 20 L 13 17 L 23 17 L 23 15 L 13 15 Z" stroke-linecap="round" />
                                </g>
                                </svg>
                        </a>
                    </div>
                    <div class="analytics-teammember"> 
                        <img src="{{ team_member.profileID.imageURL }}" class="analytics-singlemember-card-image me-10">
                        <h2>
                            {{team_member.profileID.name|capfirst}}
                        </h2>
                    </div>
                </div>
                <div class="analytics-filter-row">
                    <form method="post" class="orgAthleteTeamForm mb-10 me-20">
                        {% csrf_token %}
                        {% for field in date_form %}
                            <p>
                                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                {{ field|add_class:"form-input-athlete" }}
                    
                                {% if field.help_text %}
                                    <small>{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button class="AthleteFormDateRange-btn" type="submit">Filter by Date</button>
                    </form>
    
                    <form method="post" class="orgAthleteTeamForm mb-10 me-20">
                        {% csrf_token %}
                        {% for field in team_season_form %}
                            <p>
                                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                {{ field|add_class:"form-input-athlete" }}
                    
                                {% if field.help_text %}
                                    <small>{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button class="AthleteFormDateRange-btn" type="submit">Filter by Season</button>
                    </form>
                </div>
                
            </div>
            <h3> 
                {% trans 'Analytic data for period'%} {{filter_date.start_date|date:"Y.m.d"}} - {{filter_date.end_date|date:"Y.m.d"}}
            </h3>
            <div class="analytics-charts">
                <div class="analytics-total-chart">
                    <canvas id="happenedEvents" class="canvas-border" width="330" height="330"></canvas>
                </div>
                <div class="analytics-chart-content">
                    <div class="analytics-total-chart">
                        <canvas id="attendanceChart" class="canvas-border" width="330" height="330"></canvas>
                    </div>
                </div>
                <div class="analytics-chart-content">
                    <div class="analytics-total-chart">
                        <canvas id="attendanceChart2" class="canvas-border" width="330" height="330"></canvas>
                    </div>
                </div>
            </div>

            <div class="heading-card">
                <h3>{% trans 'Physical assessment scores'%}</h3>
            </div>

            <div class="analytics-grid">
                {% regroup physical_assessment_scores by physical_assessment as assessment_groups %}


                    {% for assessment_group in assessment_groups %}
                    <div class="analytics-score-card">
                        <div class="analytics-score-heading">
                            <a href='{% url "single-physical-assessment" pk=teamObj.id papk=assessment_group.grouper.id %}' class="have-acc">
                            <div class="analytics-score-heading-list">
                                <div class="score-heading-row">
                                <h3>{{ assessment_group.grouper.physical_assessment_title}}</h3>
                                </div>
                                <div class="score-heading-row">
                                <p>{% trans 'Type'%}: {{ assessment_group.grouper.get_assessment_type_display }}</p>
                                </div>
                                <div class="score-heading-row">
                                <p>{% trans 'Best Score'%}:
                                    {% if assessment_group.grouper.best_score_lower %} {% trans 'Lowest'%} {% else %} {% trans 'Highest'%} {% endif %}
                                </p>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="analytics-score-list">
                            <table class="analytics-score-table" data-best-score-lower="{{ assessment_group.grouper.best_score_lower }}" data-score-type="{{assessment_group.grouper.assessment_type}}">
                                <thead>
                                    <tr>
                                        <th>{% trans 'Date'%}</th>
                                        <th>{% trans 'Result'%}</th>
                                        <!-- Add other columns as needed -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% regroup assessment_group.list by physical_assessment_record.physical_assessment_date as date_groups %}

                                    {% for date_group in date_groups %}
                                        <tr>
                                            <td>{{ date_group.grouper|date:"d.m.Y" }}</td>
                                            {% for score in date_group.list %}
                                                {% if score.physical_assessment.assessment_type == 'score' %}
                                                <td>{{ score.score }}</td>
                                                {% endif %}
                                                {% if score.physical_assessment.assessment_type == 'time' %}
                                                <td>{{ score.time|format_time_duration }}</td>
                                                {% endif %}
                                                {% if score.physical_assessment.assessment_type == 'distance' %}
                                                <td>{{ score.distance|format_distance }}</td>
                                                {% endif %}
                                                <!-- Add other columns as needed -->
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
            </div>

            <div class="heading-card">
                <h3>{{teamObj.organization}} {% trans 'Physical assessment scores'%}</h3>
            </div>

            <div class="analytics-grid">
                {% regroup org_physical_assessment_scores by org_physical_assessment as assessment_groups %}


                    {% for assessment_group in assessment_groups %}
                    <div class="analytics-score-card">
                        <div class="analytics-score-heading">
                            <a href='{% url "org-single-physical-assessment" pk=teamObj.id opaid=assessment_group.grouper.id %}' class="have-acc">
                            <div class="analytics-score-heading-list">
                                <div class="score-heading-row">
                                <h3>{{ assessment_group.grouper.opa_title}}</h3>
                                </div>
                                <div class="score-heading-row">
                                <p>{% trans 'Type'%}: {{ assessment_group.grouper.get_assessment_type_display }}</p>
                                </div>
                                <div class="score-heading-row">
                                <p>{% trans 'Best Score'%}:
                                    {% if assessment_group.grouper.best_score_lower %} {% trans 'Lowest'%} {% else %} {% trans 'Highest'%} {% endif %}
                                </p>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="analytics-score-list">
                            <table class="analytics-score-table" data-best-score-lower="{{ assessment_group.grouper.best_score_lower }}" data-score-type="{{assessment_group.grouper.assessment_type}}">
                                <thead>
                                    <tr>
                                        <th>{% trans 'Date'%}</th>
                                        <th>{% trans 'Result'%}</th>
                                        <!-- Add other columns as needed -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% regroup assessment_group.list by org_physical_assessment_record.org_physical_assessment_date as date_groups %}

                                    {% for date_group in date_groups %}
                                        <tr>
                                            <td>{{ date_group.grouper|date:"d.m.Y" }}</td>
                                            {% for score in date_group.list %}
                                                {% if score.org_physical_assessment.assessment_type == 'score' %}
                                                <td>{{ score.score }}</td>
                                                {% endif %}
                                                {% if score.org_physical_assessment.assessment_type == 'time' %}
                                                <td>{{ score.time|format_time_duration }}</td>
                                                {% endif %}
                                                {% if score.org_physical_assessment.assessment_type == 'distance' %}
                                                <td>{{ score.distance|format_distance }}</td>
                                                {% endif %}
                                                <!-- Add other columns as needed -->
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            {% if role == "2" or role == "4" %}
            <div class="notes-section">
                <div class="heading-card">
                    <h3>{% trans 'Notes about member from events'%}</h3>
                </div>
                {% for event in attendance_records %}
                    {% if event.short_note %}
                        <a href="{% url 'team-event' pk=teamObj.id eid=event.event.id %}" class="event-link">
                            <div class="event-row">
                                <div class="event-header">
                                    <span class="event-title">
                                        {{ event.event.title }}
                                    </span>
                                    <span class="event-time">
                                        {{ event.event.start_time|date:"H:i, d.m.Y " }}
                                    </span>
                                </div>
                                <div class="event-note">
                                    {{ event.short_note }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </main>
        
</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr(".datetimepicker-input", {
            dateFormat: "Y-m-d",
        });
    });
</script>

{% block custom_scripts_athlete %}
<script>
      const translationsTeam = {
        attended: '{{ _("Attended")|escapejs }}',
        didNotAttend: '{{ _("Did not attend")|escapejs }}',
        ill: '{{ _("Ill")|escapejs }}',
        injury: '{{ _("Injury")|escapejs }}',
        notRequired: '{{ _("Not required")|escapejs }}',
        other: '{{ _("Other")|escapejs }}',
        topLabel: '{{_("Attendance for Athlete")|escapejs }}'
    };
    const attendanceData = {{ member_attendance_data|safe }};
    const labels = attendanceData.map(d => {
        switch (d.label) {
            case 'Attended': return translationsTeam.attended;
            case 'Did not attend': return translationsTeam.didNotAttend;
            case 'ill': return translationsTeam.ill;
            case 'Injury': return translationsTeam.injury;
            case 'Not required': return translationsTeam.notRequired;
            case 'Other': return translationsTeam.other;
            default: return d.label;
        }
    });
    const counts = attendanceData.map(d => d.count);
    const total = counts.reduce((a, b) => a + b);
    const percentages = counts.map(count => ((count / total) * 100).toFixed(2));
    const ctx = document.getElementById('attendanceChart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'bar', // Change the chart type here (e.g., bar, line, radar, etc.)
        data: {
            labels: labels,
            datasets: [{
                label: translationsTeam.topLabel,
                data: percentages,
                backgroundColor: [
                    'rgba(75, 192, 192, 0.6)',   // Attended
                    'rgba(255, 99, 132, 0.6)',   // Did not attend
                    'rgba(255, 206, 86, 0.6)',   // Ill
                    'rgba(153, 102, 255, 0.6)',  // Injury
                    'rgba(255, 159, 64, 0.6)',   // Not required
                    'rgba(54, 162, 235, 0.6)',   // Other
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(54, 162, 235, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    labels: {
                        boxWidth: 0  // Set the legend color box width to 0 to remove it
                    }
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            const currentValue = percentages[context.dataIndex];
                            return `${labels[context.dataIndex]}: ${currentValue}%`;
                        }
                    }
                }
            }
        }
    });
</script>

{% endblock custom_scripts_athlete%}
{% block custom_script_pie %}

<script>
    const attendanceData2 = {{ attendance_data|safe }};
    const labels2 = attendanceData2.map(d => d.label);
    const labels2Legend = attendanceData2.map(d => d.label+" "+d.count);
    const counts2 = attendanceData2.map(d => d.count);
    var totalFilledRecordsText = '{{_("Events Scheduled for this period")|escapejs }}';
    // Calculate the total count of records
    const totalRecordsCount = counts2.reduce((a, b) => a + b, 0);
    // Construct the legend label with the total count
    const legendLabel = `${totalRecordsCount} ${totalFilledRecordsText}`;
    
    const ctx2 = document.getElementById('attendanceChart2').getContext('2d');
    const chart2 = new Chart(ctx2, {
        type: 'pie', // Changed chart type to pie
        data: {
            labels: labels2Legend,
            datasets: [{
                data: counts2,
                backgroundColor: [
                    'rgba(255, 215, 0, 0.6)',   // Color for first slice
                    'rgba(0, 128, 0, 0.6)',     // Color for second slice
                    'rgba(23, 162, 184, 0.6)',  // Color for third slice
                    'rgba(105, 105, 105, 0.6)'  // Color for fourth slice
                ],
                borderColor: [
                    'rgba(255, 215, 0, 1)',
                    'rgba(0, 128, 0, 1)',
                    'rgba(23, 162, 184, 1)',
                    'rgba(105, 105, 105, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                // Adding the title configuration here
                title: {
                    display: true,
                    text: legendLabel  
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontSize: 14 // Change the legend text size here
                    }
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            const currentValue = counts2[context.dataIndex];
                            const total = counts2.reduce((a, b) => a + b);
                            const percentage = ((currentValue / total) * 100).toFixed(2);
                            return `${labels2[context.dataIndex]}: ${currentValue} (${percentage}%)`;
                        }
                    }
                },
                datalabels: {
                    color: '#fff', // Color of the labels
                    anchor: 'center', // Position of the labels (start, center, end, etc.)
                    align: 'start', // Alignment of the labels (start, center, end, etc.)
                    formatter: (value, context) => {
                        const percentage = ((value / context.dataset._meta[0].total) * 100).toFixed(2);
                        return `${value} (${percentage}%)`;
                    }
                }
            }
        }
    });
</script>
{% endblock custom_script_pie %}


{% block custom_script_happened_events_pie %}

<script>
    const happenedEvents = {{ happened_event_data|safe }};
    const hplabels = happenedEvents.map(d => d.label);
    const hpcounts = happenedEvents.map(d => d.count);
    console.log(hpcounts)
    const hpLabelsLegend = happenedEvents.map(d => d.label+" "+d.count);
    var hpTotalFilledRecordsText = '{{_("Occurred Events for this period")|escapejs }}';;
    const hpTotalRecordsCount = hpcounts.reduce((a, b) => a + b, 0);
    const hpLegendLabel = `${hpTotalRecordsCount} ${hpTotalFilledRecordsText}`;
    const hpctx = document.getElementById('happenedEvents').getContext('2d');
    const hpchart = new Chart(hpctx, {
        type: 'pie', // Changed chart type to pie
        data: {
            labels: hpLabelsLegend,
            datasets: [{
                data: hpcounts,
                backgroundColor: [
                    'rgba(255, 215, 0, 0.6)',   // Color for first slice
                    'rgba(0, 128, 0, 0.6)',     // Color for second slice
                    'rgba(23, 162, 184, 0.6)',  // Color for third slice
                    'rgba(105, 105, 105, 0.6)'  // Color for fourth slice
                ],
                borderColor: [
                    'rgba(255, 215, 0, 1)',
                    'rgba(0, 128, 0, 1)',
                    'rgba(23, 162, 184, 1)',
                    'rgba(105, 105, 105, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                // Adding the title configuration here
                title: {
                    display: true,
                    text: hpLegendLabel
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontSize: 14 // Change the legend text size here
                    }
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            const currentValue = hpcounts[context.dataIndex];
                            const total = hpcounts.reduce((a, b) => a + b);
                            const percentage = ((currentValue / total) * 100).toFixed(2);
                            return `${hplabels[context.dataIndex]}: ${currentValue} (${percentage}%)`;
                        }
                    }
                },
            }
        }
    });
</script>
{% endblock custom_script_happened_events_pie %}

{% endblock content %}

