{% extends "main.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
  
  
  

  <div class="main-container">
    {% include 'sidebar.html'%}
    <main class="content">
        <div class="heading-card">
            <h2>{% trans 'Add Tactic Play'%}</h2>
        </div>
        <form method="POST" enctype="multipart/form-data" class="form-card">
            {% csrf_token %}
            
            {% for field in form %}
                {% if field.name != 'id' %}
                    <p>
                        <label for="{{ field.auto_id }}">{% trans field.label %}</label>       
                        {{ field|add_class:"form-input" }}
    
                        {% if field.help_text %}
                            <small>{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </p>
                {% else %}
                    {{ field }}  <!-- Render the id field as hidden -->
                {% endif %}
            {% endfor %}
            <div class="form-button-group-content">
                <div class="form-button-group">
                    <input type="submit" value="{% trans 'Add' %}" class="form-submit">
            <a class="form-cancel" href="{%url 'edit-tactic-plays' pk=teamObj.id tid=tactic.id%}">{% trans 'Go Back'%}</a>
                </div>
            </div>
            
        </form>
    </main>
</div>
{% endblock %}