{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}


<div class="user-container">
    <div class="user-content">
        <div class="heading-card">
            <h1 class="">{% trans "Accept Organization Invitation" %}</h1>
        </div>
        <form method="POST" class="form-card">
        {% csrf_token %}
            <p>
                {% trans "You have been invited to join sport organization " %} <strong>{{ invitation.organization.name|capfirst }}</strong>.
            </p>
            <p>
                {% trans 'To accept this invitation, please click the "Accept" button below. If you do not wish to join this organization, you can simply close this page.' %}
            </p>
        
            <button type="submit" class="form-submit">{% trans 'Accept' %}</button>
        </form>
    </div>
</div>
{% endblock content %}