{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="user-container">
    <main class="deleteaccaunt-content">
        <div class="delete-card">
            <form action="" method="POST">
                {% csrf_token %}
                <p>{% trans "Are you sure you want to delete your own account permanently?" %}</p>
                
                <div class="button-group">   
                    <a class="cal-btn go-back-btn" href="{% url 'edit-account' %}">{% trans 'Go Back' %}</a>
                    <input class="confirm-btn" type="submit" value="{% trans 'Confirm' %}" />
                    
                </div>
            </form>
        </div>
    </main>
</div>


{% endblock content %}