{% extends 'main.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<div class="landing-container">
    <div class="form-container">
            <div>
                <h1>{% trans "Password change" %}</h1>
            </div>
            <div>
                <p class="landing-about">
                    {% trans "Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly." %}
                </p>
            </div>
            
            <form  method="POST" class="form-card form-size">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>

                    {{ field|add_class:"form-input"|attr:"autofocus" }}
    
        
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </p>
            {% endfor %}
                <input type="submit" value="{% trans 'Change My Password' %}" class="form-submit"/>
                <a href="{% url 'edit-account'  %}" class="form-cancel" >{% trans 'Go Back' %}</a>

   
            </form>
    </div>
</div>

{% endblock content %}

