{% extends 'main.html' %}
{% load i18n %}
{% block content %}
<div class="landing-container">
    <div class="form-container">
            <div>
                <h1>{% trans "Password reset sent"%}</h1>
            </div>
            <div>
                <p class="landing-about">
                    {% trans "We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly."%}
                </p>
                <br>
                <p class="landing-about">
                    {% trans "If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder."%}
                </p>
            </div>
    </div>
</div>

{% endblock content %}

