{% extends 'main.html' %}
{% load i18n %}
{% block content %}
<div class="landing-container">
    <div class="form-container">
            <div>
                <h1>{% trans 'Password reset complete'%}</h1>
            </div>
            <div>
                <p class="landing-about">
                    {% trans 'Your password has been set. You may go ahead and log in now'%}
                </p>
                <div class="landing-btn">
                <a href='{% url "login" %}' class="get-started">
                    {% trans 'Login'%}
                </a>
            </div>
            </div>
    </div>
</div>

{% endblock content %}
